.advantages {
  padding-top: 34px;
  padding-bottom: 68px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}

.advantages-title-wrap {
  margin-bottom: 57px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 766px;
}

.advantages-title {
  margin-bottom: 28px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 33px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}

.green-text {
  color: var(--green-light);
}

.advantages-descr {
  font-family: Raleway;
  font-weight: 500;
  font-size: 21px;
  line-height: 145%;
  text-align: center;
  color: var(--accent-green);
}

.advantages-cards-wrap {
  max-width: 1282px;
}

.advantages-cards-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px 43px;
}

.advantages-cards-list__item {
  padding: 24px 28px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 14px;
  box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.08);
}

.advantages-cards-list__item-img {
  margin-right: 19px;
  width: 58px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.advantages-cards-list__item-img--1 {
  background-image: url('../img/adv-1.svg');
}

.advantages-cards-list__item-img--2 {
  background-image: url('../img/adv-2.svg');
}

.advantages-cards-list__item-img--3 {
  background-image: url('../img/adv-3.svg');
}

.advantages-cards-list__item-img--4 {
  background-image: url('../img/adv-4.svg');
}

.advantages-cards-list__item-text {
  padding-right: 42px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.advantages-cards-list__item-text-title {
  margin-bottom: 9px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  color: var(--green-dark);
}

.advantages-cards-list__item-text-descr {
  max-width: 443px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: var(--accent-green);
}

@media (max-width: 1440px) {

  .advantages-cards-wrap {
    padding: 0 40px;
  }

  .advantages-cards-list__item-text {
    padding-right: 0;
  }
}

@media (max-width: 1024px) {

  .advantages-cards-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .advantages-cards-list__item-text-descr {
    max-width: max-content;
  }
}

@media (max-width: 576px) {

  .advantages {
    padding-top: 20px;
    padding-bottom: 32px;
  }

  .advantages-title-wrap {
    padding: 0 26px;
    margin-bottom: 24px;
  }

  .advantages-title {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .advantages-descr {
    font-size: 10px;
  }

  .advantages-cards-wrap {
    padding: 0 26px;
  }

  .advantages-cards-list {
    gap: 16px;
  }

  .advantages-cards-list__item {
    padding: 12px 16px;
    border-radius: 4px;
  }

  .advantages-cards-list__item-img {
    margin-right: 16px;
  }

  .advantages-cards-list__item-text-title {
    margin-bottom: 4px;
    font-size: 10px;
  }

  .advantages-cards-list__item-text-descr {
    font-size: 8px;
  }
}
