.footer {
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: var(--green-dark);
}

.footer-head {
  margin-bottom: 48px;
  padding-bottom: 48px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--footer-grey);
}

.footer-menu {
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
}

.footer-menu-column:not(:last-child) {
  margin-right: 38px;
}

.footer-menu-column__title {
  margin-bottom: 19px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 21px;
  line-height: 145%;
  color: var(--white);
}

.footer-menu-column__title--mobile {
  display: none;
}

.footer-menu-column__list {
  display: flex;
  flex-direction: column;
}

.footer-menu-column__list-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-menu-column__list-item-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--white);
  transition: color .3s ease-in-out
}

.footer-menu-column__list-item-link:hover,
.footer-menu-column__list-item-link:focus {
  color: var(--green-light);
  transition: color .3s ease-in-out
}

.footer-menu-column__list-item-link-arrow {
  margin-right: 12px;
  display: block;
  width: 9px;
  height: 9px;
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  transform: rotate(315deg);
}

.footer-menu-column__list-item-link-text {
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
}

.footer-describe {
  display: flex;
  flex-direction: column;
  max-width: 362px;
}

.footer-describe__descr {
  margin-bottom: 28px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 21px;
  line-height: 145%;
  color: var(--white);
}

.footer-describe__form {
  display: flex;
  flex-direction: column;
}

.footer-describe__form-input {
  padding: 15px 5px;
  margin-bottom: 19px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 19px;
  line-height: 145%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.footer-describe__form-btn {
  padding: 15px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 19px;
  line-height: 145%;
  text-align: center;
  color: var(--white);
  border-radius: 9px;
  background-color: var(--green-light);
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.footer-describe__form-btn:hover,
.footer-describe__form-btn:focus {
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.footer-bottom__text {
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: var(--footer-grey);
}

.footer-bottom__link:not(:last-child) {
  margin-bottom: 16px;
}

.footer-bottom__link {
  display: none;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  transition: color .3s ease-in-out
}

.footer-bottom__link:hover,
.footer-bottom__link:focus {
  color: var(--green-light);
  transition: color .3s ease-in-out
}

.footer-bottom__text--montserrat {
  display: none;
  font-family: Montserrat;
}

@media (max-width: 1440px) {

  .footer-describe {
    max-width: 250px;
  }

  .footer-describe__descr {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {

  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-describe,
  .footer-bottom__text,
  .footer-menu-column__title--desktop {
    display: none;
  }

  .footer-menu {
    margin-right: 0;
    width: 100%;
    justify-content: space-between;
  }

  .footer-bottom__link,
  .footer-bottom__text--montserrat,
  .footer-menu-column__title--mobile {
    display: block;
  }
}

@media (max-width: 768px) {

  .footer-menu {
    flex-wrap: wrap;
  }

  .footer-menu-column:not(:last-child) {
    margin-right: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 576px) {

  .footer-menu {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .footer-menu-column {
    margin-right: auto;
  }

  .footer-menu-column:not(:last-child) {
    margin-bottom: 32px;
    margin-right: auto;
  }

  .footer-menu-column__title {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .footer-menu-column__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
