html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

img,
svg {
    max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
    position: absolute;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

:root {
    --white: #ffffff;
    --black: #1B1B1B;
    --black4B: #4b4b4b;
    --green-light: #029992;
    --green-dark: #00403D;
    --grey: #D1D3D3;
    --greyE7: #E7E7E7;
    --salad: #CEDFD5;
    --accent-green: #223E3C;
    --footer-grey: #B2C6C5;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Medium"),
    url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-SemiBold"),
    url("../fonts/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Bold"),
    url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 430px;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-weight: 400;
}

.burger-background-blur {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: var(--black);
  opacity: 0.5;
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 96px;
    padding-left: 96px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 1440px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
